*~
.ipynb_checkpoints
__pycache__
*.swp
*.h5
/paper

# pypi stuff
build
dist
*.egg-info

# notebook symlinks
# If you symlink notebooks to the base dir, you can run them directly. But
# let's not add such symlinks to the repo to avoid clutter.
/*_demo.ipynb

# ignore pdfs, pngs in notebook
/notebook/*.pdf
/notebook/*.png
# ignore csvs in data
/data/*.csv


.DS_Store
