name: build
on:
  schedule:
    - cron: "0 12 * * 1"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    if: "!contains(github.event.head_commit.message, 'ci skip')"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: ['3.9']

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Set up miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          auto-update-conda: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          pip install pytest nbconvert ipykernel

      - name: Install extra dependencies for macos
        if: matrix.os == 'macos-latest'
        run: |
          brew install fftw
          CFLAGS=" -L/opt/homebrew/lib " python -m pip install spinsfast
          brew install libconfig
          brew install gsl
          

      - name: Install Teobresums-Dali for ubuntu
        if: matrix.os == 'ubuntu-latest'
        shell: bash -l {0}
        run: |
          git clone https://bitbucket.org/teobresums/teobresums.git
          cd teobresums/Python
          git checkout Dali
          pip install numpy
          python setup.py build_ext --inplace
          conda env config vars set PYTHONPATH=$PYTHONPATH:~/teobresums/Python/

      - name: Install Teobresums-Dali for macos
        if: matrix.os == 'macos-latest'
        shell: bash -l {0}
        run: |
          git clone https://bitbucket.org/teobresums/teobresums.git
          cd teobresums/Python
          git checkout Dali
          pip install numpy
          CFLAGS=" -L/opt/homebrew/lib " python setup.py build_ext --inplace
          conda env config vars set PYTHONPATH=$PYTHONPATH:~/teobresums/Python/

      - name: Install pipenv
        shell: bash -l {0}
        run: |
          pip install .

      - name: Run test suite
        shell: bash -l {0}
        run: |
          py.test test
